<!DOCTYPE html>

<html>
    {% include 'base.html' %}
    <head>
    </head>
    <style>
    </style>
        <body>
            <div class="container" style="margin-top: 50px;">
                <div class="row">
                <div class="col-3">
                </div>
                   <div class="col-6">
                    <form action="" method=POST>
                        {{ form.as_table}}
                        {%csrf_token%}
                        <input type="submit" class="tombol-kanan tombol" value="Add Event"> 
                        <a class="tombol-kanan tombol" href="/EventApp">Back</a>         
                    </form>
                </div>

                </div>
            </div>
        </body>
        <script>
            
        </script>

</html>