<!DOCTYPE html>
<html>
    {% include 'base.html' %}
    <head>
        {% url 'event' as AddEvent %}
        {% url 'Update' as Update%}
    </head>
    <body style="padding-bottom: 100px;">
    
    <div class = "container">
    <div class = "row">
        {% for data in dataset %}  
        <div class = "card" style="width: 20rem; margin: 10px;">
         <div class="card-body"> 
            <h5 class="card-title">{{ data.Name }}</h5> 
            <h6 class="card-subtitle mb-2 text-muted">{{ data.Time }}</h6>
            <p class="card-text">{{data.Description}}</p><br/> 
            <a class = "tombol-kanan tombol" href="{{data.id}}/UpdateEvent">Edit</a>
            <a class = "tombol-kanan tombol" style="bottom-margin: 10px;" href="{{data.id}}/DeleteEvent">Delete</a>
            </div>
        </div>
        {% endfor %}
         <div class = "card" style="width: 20rem; margin: 10px;">
        <a class = "tombol-kanan tombol" href= {{AddEvent}}>Add Event</a>
        </div>
    </div>
    </div>
    </body>

</html>