
    <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>			
                <th>Provinsi</th>
                <th>Kasus Positif</th>
                <th>Kasus Sembuh</th>
                <th>Kasus Meninggal</th>
            </tr>
        </thead>
        <tbody>
            {% for covid in data %}
            {% if covid.provinsi == search_key %}    
            <tr>				
                <td>{{covid.provinsi}}</td>
                <td>{{covid.kasus_positif}}</td>
                <td>{{covid.kasus_sembuh}}</td>
                <td>{{covid.kasus_meninggal}}</td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
    <button type ="button" class="btn btn-outline-info" id="back-button">Back</button>
<script>
    $("#back-button").click(function(e){
        location.reload();
    });
</script>