/* Project-wide style */

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

body {
  font-family: 'Rubik', sans-serif;
}

.bg-custom{
  background-color:aquamarine;
}
.navbar-nav a:hover{
  background-color:rgba(1, 255, 149, 0.712);
}
