/* Project-wide style */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background-color: aliceblue;
}

.bg-custom{
  background-color:cadetblue;
}

.navbar-nav a:hover{
  background-color: white;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  background-image:none !important;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  background-color: aliceblue;
}