<!DOCTYPE html>
<html lang="en">
    {%include 'base.html'%}
    <head>
        <meta charset="UTF-8" />
        <title>To Do List</title>
    </head>
    <body>
        <form method="POST" action="/">
            {% csrf_token %}
            {{form.title}}
            <input type="submit" name="Add a new item.">
        </form>
        {% for item in items %}
            <div>
                <a href="{% url 'item_detail' item.id}">Detail</a>
                <p>{{item}}</p>
            </div>
        {% endfor %}
    </body>
</html>