<!DOCTYPE html>
<html lang="en">
{% include "base.html" %}
    <head>
        <meta charset="UTF-8" />
        <title>Schedule</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
                integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <style>
            .card {
                box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.253);
                transition: 0.5s;
                width: 25%;
                height: 300px;
                background-color: rgb(169, 212, 217);     
            }

            .card:hover {
                box-shadow: 0 5px 10px 0 rgb(35, 31, 65);
            }

            .container {
                padding: 3px 12px;
                color: rgb(55, 102, 107);
            }

            .wrapper{
                display: flex;
                gap: 20px;
                flex-wrap: wrap;
                justify-content: center;
                margin-top: 20px;
            }

            h1{
                font-size: 30.em;
                font-style: bold;
                text-align: center;
                color: rgb(10, 98, 107);
            }

            body{
                background-color: rgb(235, 240, 242);
            }
        </style>
    </head>
    <center>
        <body>
            <h1><b>Schedule</b></h1>
            <div class="wrapper">
                <div class="card">
                    <div class="container">
                        <h4><b>Monday</b></h4> 
                        {% for matkul in matkuls_ordered %}
                            {% if matkul.day == "1" %}
                            <p>{{ matkul.start_time }}-{{ matkul.end_time }} {{ matkul.name }}</p>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="card">
                    <div class="container">
                        <h4><b>Tuesday</b></h4> 
                        {% for matkul in matkuls_ordered %}
                            {% if matkul.day == "2" %}
                            <p>{{ matkul.start_time }}-{{ matkul.end_time }} {{ matkul.name }}</p>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="card">
                    <div class="container">
                        <h4><b>Wednesday</b></h4>
                        {% for matkul in matkuls_ordered %}
                            {% if matkul.day == "3" %}
                            <p>{{ matkul.start_time }}-{{ matkul.end_time }} {{ matkul.name }}</p>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="card">
                    <div class="container">
                        <h4><b>Thursday</b></h4> 
                        {% for matkul in matkuls_ordered %}
                            {% if matkul.day == "4" %}
                            <p>{{ matkul.start_time }}-{{ matkul.end_time }} {{ matkul.name }}</p>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="card">
                    <div class="container">
                        <h4><b>Friday</b></h4> 
                        {% for matkul in matkuls_ordered %}
                            {% if matkul.day == "5" %}
                            <p>{{ matkul.start_time }}-{{ matkul.end_time }} {{ matkul.name }}</p>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <br/>
            <h1>Add Schedule</h1>
            <br/>
            <form action = "" method="POST">
                {% csrf_token %}
                <table>
                    <tr>
                        <td>
                            <label for="name">{{form.name.label}}</label>
                            {{form.name}}
                            <!-- <input type="text" placeholder="Masukan Nama Matkul" class="form-control name" id="name"> -->
                        </td>
                    </tr>
                    <tr>
                        <!-- <td>{{form.day.label}}{{form.day}}</td> -->
                        <td>
                            <!-- <label for="day">Day: </label> -->
                            <label for="day">{{form.day.label}}</label>
                            {{form.day}}
                            <!-- <input type="select" class="form-control day" id="day" option="TEXT_CHOICES"> -->
                            <!-- <select name="days" id="days">
                                <option value="Monday">Monday</option>
                                <option value="Tuesday">Tuesday</option>
                                <option value="Wednesday">Wednesday</option>
                                <option value="Thursday">Thursday</option>
                                <option value="Friday">Friday</option>
                            </select> -->
                        </td>
                    </tr>
                    <tr>
                        <!-- <td>{{form.start_time.label}}{{form.start_time}}</td> -->
                        <td>
                            <!-- <label for="start_time">Start Time: </label> -->
                            <label for="start_time">{{form.start_time.label}}</label>
                            {{form.start_time}}
                            <!-- <input type="time" class="form-control start_time" id="start_time"> -->
                        </td>
                    </tr>
                    <tr>
                        <!-- <td>{{form.end_time.label}}{{form.end_time}}</td> -->
                        <td>
                            <!-- <label for="end_time">End Time: </label> -->
                            <label for="end_time">{{form.end_time.label}}</label>
                            {{form.end_time}}
                            <!-- <input type="time" class="form-control end_time" id="end_time"> -->
                        </td>
                    </tr>
                </table>
                <input type="submit" class="btn btn-success" id="btnadd" value="Add jadwal matkul">
            </form>
            <br/>
            <a class="activate" href="/app-1/matkul-list">List Matkul</a>
            <br/>
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                    crossorigin="anonymous">
            </script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
                    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
                    crossorigin="anonymous">
            </script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
                    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
                    crossorigin="anonymous">
            </script>
            <script>
                $("#btnadd").click(function (){
                    console.log("Save Button Clicked");
                });
            
                $("#btnedit").click(function (){
                    console.log("Edit Button Clicked");
                });
            
                $("#btndelete").click(function (){
                    console.log("Delete Button Clicked");
                });
            </script> 
        </body>
    </center>
</html>