{% extends 'base.html' %}
{% load static %}
<!-- 158cdc736b1e483cae554052bc307b8b -->
'https://newsapi.org/v2/top-headlines?country=id&category=science&apiKey=158cdc736b1e483cae554052bc307b8b'

{% block meta %}

<title>Recently on Education</title>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
{% endblock meta %}

{% block content %}
<div class="container text-center justify-content-center align-items-center">
    <br>
    <h1>Latest News on Education</h1>
    <br>
    
    <div class="accordion" id="accordionExample">
        {% for item in items %}
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingItem{{ item.pk }}">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseItem{{ item.pk }}" aria-expanded="false" aria-controls="collapseItem{{ item.pk }}">
                    {{ item.title }}
                </button>
            </h2>
            <div id="collapseItem{{ item.pk }}" class="accordion-collapse collapse" aria-labelledby="headingItem{{ item.pk }}"
                data-bs-parent="#accordionExample">
                <div class="accordion-body"> 
                    {{ item.description }}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <br>

{% if user.is_authenticated %}
    <h3>Write your own article</h3>
    <form action="" method="POST">
        {% csrf_token %}
        {% for field in form %}
        <div style="margin-top: 20px;">{{field.label_tag}}</div>
        <div>{{field}}</div>

        {% endfor %}
        <!-- <table>
            {{ form.as_table }}
        </table> -->
        <br>
        <button class="btn btn-info" style="margin-bottom: 50px;">Submit</button>
    </form>
</div>
{% else %}
<h3>Login to add your own article!</h3><br>
<a href="/login" class="btn btn-info" style="margin-bottom: 50px;">Click here to login<br></a> 
{% endif %}

<script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
            url: "https://gnews.io/api/v4/search?q=education&token=00782ad6f72555e93da9690713632140&lang=en",
            success: function (results) {
                results.articles.map((article, index) => {
                    console.log(index);
                    $(".accordion").append(`
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading${index}">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse${index}" aria-expanded="false" aria-controls="collapse${index}">
                                ${article.title}
                            </button>
                        </h2>
                        <div id="collapse${index}" class="accordion-collapse collapse" aria-labelledby="heading${index}"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body"> 
                                ${article.description}
                                <br>
                                <a href="${article.url}">
                                <button class="btn btn-info">More</button>
                                </a>
                            </div>
                        </div>
                    </div>`);
                });
            },
        });
    });
</script>
{% endblock content %}